#input {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 0.5rem;
  padding: 0.5rem;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#input > button {
  aspect-ratio: 1 / 1;
  font-size: 1rem;
}

#input > button.input-number {
  font-size: 2rem;
}

#input > button#input-branch-create-without-digit,
#input > button#input-branch-reject,
#input > button#input-branch-cancel {
  font-size: 0.6rem;
}
@media (min-width: 900px) {
  #input > button#input-branch-create-without-digit,
  #input > button#input-branch-reject,
  #input > button#input-branch-cancel {
    font-size: 0.8rem;
  }
}

#branch-history {
  position: fixed;
  left: 0;
  top: 0;
}
