@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

:root {
  --size-cell: 32px;
}
@media (min-width: 900px) {
  :root {
    --size-cell: 48px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;

  position: fixed;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1.5rem;
  min-height: 100vh;

  box-sizing: border-box;
}

@media (min-width: 900px) {
  #app {
    flex-direction: row;

    gap: 64px;
  }
}

/* ---------- */

button {
  all: unset;

  padding: 0.5rem;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: background-color 0.2s ease;
}
button:hover {
  background-color: #e0e0e0;
}
button:disabled {
  color: #e0e0e0;
  cursor: not-allowed;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.red {
  color: red;
}

.modal-body .blue {
  color: #4fa4ff;
}
